body {
    display: block;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
    margin: 0;
    padding: 20px;
}

.container {
    background-color: #fff;
    padding: 130px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

.checkbox-container {
    margin-bottom: 20px;
}

    .checkbox-container label {
        font-weight: bold;
        color: #333;
    }

    .checkbox-container span {
        color: #777;
    }

.submit-button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

    .submit-button:hover {
        background-color: #45a049;
    }

h5 {
    color: red
}

.navigation {
    display: block;
    justify-content: space-between;
    margin-bottom: 20px;
}

    .navigation button {
        background-color: #4CAF50;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        font-weight: bold;
        cursor: pointer;
        transition: background-color 0.3s;
        margin-right: 10px;
    }

        .navigation button:last-child {
            margin-right: 0;
        }

        .navigation button:hover {
            background-color: #45a049;
        }

.notes {
    margin-top: 20px;
    color: #777;
    text-align: justify;
}
