@model ExceptionHandlingAssignment.Models.FileModel
@{
    ViewData["Title"] = "Database Exception Handling";
    Layout = null;
}
<link rel="stylesheet" href="~/css/Database.css" />
<h1>@ViewData["Title"]</h1>
<h3 style="color:red">@ViewBag.Message</h3>
<div class="navigation">
    <button onclick="location.href='/Home/Index'">FileProcessing</button>
    <button onclick="location.href='/Home/API'">API</button>
    <button onclick="location.href='/Home/RegistrationForm'">Input Validation</button>

</div>
<form method="post">
   
   <div class="checkbox-container">
    <label for="displayErrors">
            <input  asp-for="Option" type="radio" value="improper SQL syntax" name="Option"> To display improper SQL syntax errors, choose this.
    </label>
  
    </div>
    <div class="checkbox-container">
        <label for="connectionFailed">
            <input asp-for="Option" type="radio" value="connectionFailed" name="Option"> Connection failed.
        </label>
    </div>
    <button class="submit-button" type="submit">Submit</button>
    <div><h4>Notes:To display improper SQL syntax Exception, choose above options then click Submit</h4></div>

</form>


   
